[submodule "surf"]
	path = surf
	url = https://git.suckless.org/surf
[submodule "abduco"]
	path = abduco
	url = https://github.com/martanne/abduco.git
[submodule "dvtm"]
	path = dvtm
	url = https://github.com/martanne/dvtm.git
[submodule "9menu"]
	path = 9menu
	url = https://github.com/arnoldrobbins/9menu.git
